/* Effet check */
.menu__article:hover .check {
    animation: rotation 400ms ease-in-out;
    }

    @keyframes rotation {
        0% {
        transform:translate(40px) rotate(0deg);
        }
        100% {
        transform:translate(0px) rotate(360deg);
        }
    }

/* apparition menu */
$menu-dure: 1500ms;
$menu-total: 3;
$menu-delai: $menu-dure / $menu-total;

.menu {
    opacity: 0;
    animation: menu $menu-dure forwards;
    @for $i from 1 through $menu-total {
        &--#{$i} {
            animation-delay: $menu-delai * $i;
        }
    }
}

@keyframes menu {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* effet article */
$article-dure: 1500ms;
$article-total: 4;
$article-delai: $article-dure / $article-total;

.dishes {
    opacity: 0;
    animation:article $article-dure forwards; 
    @for $i from 1 through $article-total {
        &--#{$i} {
            animation-delay: $article-delai * $i;
        }
    }
}

@keyframes article{
    0%{
        opacity: 0;
        transform: translatey(30px);
    }
    100%{
        opacity: 1;
        transform: translatey(0px);
    }
}


/* loader */

.loader{
    perspective: 1000px;
}

.loaderbox{
    margin: 100px auto 0;
    width: 400px;
    height: 100px;    
    position: relative;
    transform-style: preserve-3d;
    animation: card 15s infinite linear;
}
  
.loaderimage{
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 5px solid;
    animation: rotate 3s ease-in infinite;
}

.image--1{
    background-color: white;
    transform: rotateX(0deg) translateZ(210px);
}

.image--2{
    background-color: black;
    transform: rotateY(90deg) translateZ(210px);
}

.image--3{
    background-color: white;
    transform: rotateX(180deg) translateZ(210px) rotate(180deg);
}

.image--4{
    background-color: black;
    transform: rotateY(-90deg) translateZ(210px);
}

.image--2 > path{
    fill: white;
}
.image--4 > path{
    fill: white;
}

@keyframes rotate{
    0%{
        border-image:linear-gradient(
                    100deg,
                    $color-primaire,
                    $color-secondaire,
                    $color-tertiaire) 1;
      }
    33%{
        border-image:linear-gradient(
                    100deg,
                    $color-tertiaire,
                    $color-primaire,
                    $color-secondaire) 1;
    }
    66%{
        border-image:linear-gradient(
                      100deg,
                      $color-secondaire,
                      $color-tertiaire,
                      $color-primaire) 1;
    }
    100%{
        border-image:linear-gradient(
                    100deg,
                    $color-primaire,
                    $color-secondaire,
                    $color-tertiaire) 1;
      }
}

@keyframes card{
    0%{
        transform: rotateY(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg) rotateY(0deg);
    }
}