
.footer{
    background-color: rgb(61, 60, 60);
    color: white;
    height: 200px;

        &__img{
            width: 150px;
            margin-left: 10px;
            margin-top: 10px;

        
        }
        
        &__img > path{
            fill: white;
        }
}

.list{
    &__choice{
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 30px;
        margin-left: 10px;

            &__icon{
                margin-right: 10px;
            }
    }
}