@import "./variables";

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(221, 219, 219);
    height: 300px;

        &__form{
            display: flex;
            align-items: center;
            justify-content:center;
            height: 40px;
            width: 100%;
            background-color: rgb(190, 188, 188);
            box-shadow: 0px -1px 3px 1px;

                &__location{
                }

                &__search_line{
                    background-color: rgb(190, 188, 188);
                    border: none;
                }
        }

        &__title{
            text-align: center;
        }

        &__texte{
            text-align: center;
        }

        &__btn{
            background-color: #FF79DA;
            border-radius: 30px;
            width: 200px;
            height: 50px;
            color: white;
            box-shadow: 0px 1px 3px 0px grey;
            margin-bottom: 40px;

                &__text{
                    text-align: center;
                    margin-top: 15px;
                }
        }
}    

.instructions{
    display: flex;
    flex-direction: column;
    margin: 40px 0px;

         &__title{
            margin-left: 15px;
        }

        &__block{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

                &__list{
                    border-radius: 20px;
                    box-shadow: 0px 1px 3px 0px grey;
                    width: 80%;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    margin: 10px 0px;

                        &__number{
                            background-color: #9356DC;
                            border-radius: 30px;
                            color: white;
                            text-align: center;
                            margin: -15px;
                            width: 25px;
                            height: 25px;
                        }

                        &__icon{
                            color: grey;
                            margin: 0px 20px;
                        }

                        &__text{
                            font-weight: bold;
                        }
                }
        }
}