.restaurant{
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    padding: 40px 0px;

        &__title{
            margin-left: 10px;
        }
}

.block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

        &__article{
            background-color: white;
            border-radius: 15px;
            width: calc(100% - 40px);
            height: 250px;
            margin: 10px 0px;
            box-shadow: 0px 0px 2px 0px grey;
            position: relative;

                &__img{
                    width: 100%;
                    height: 170px;
                    object-fit: cover;
                    border-radius: 15px 15px 0px 0px;
                }

                &__new{
                    position: absolute;
                    top:10px;
                    right: 10px;
                    background-color: $color-tertiaire;
                    color: $color-tertiaire--alt;
                    border-radius: 5px;
                    width: 80px;
                    padding: 10px 10px;
                    text-align: center;
                }

                &__text{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 80px;
                    padding: 0px 20px;

                        &__name{
                            font-weight: bold;
                            margin-bottom: 10px;
                        }   
                }                
        }
        &__article > a{
            text-decoration: none;
            color: black;
        }
}
.divheart{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30px;
    height: 30px;

    &__1{
        font-size: 30px;
        &:hover{
            visibility: hidden;
            display: none;
        }
        &:hover > &__2{
            visibility: visible;
        }
    }

    &__2{
        font-size: 30px;
        color: $color-primaire;
        overflow: hidden;

    }
}
