
@font-face {
    font-family: Shrikhand;
    src: url(Shrikhand-Regular.otf);
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


h1{
    font-size: 22px;
    font-weight: bold;
    font-family: "Roboto";
}

.nom{
    font-family: "Shrikhand";
    font-weight:normal;
}

.btn{
    font-size: 14px;
    font-family: "Roboto";
}

h2{
    font-family: "Roboto";
}


h3{
    font-size: 18px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Roboto";
    font-weight: bold;
}

p{
    font-size: 14px;
    font-family: "Roboto";
}