
@font-face {
    font-family: Shrikhand;
    src: url(Shrikhand-Regular.otf);
}
@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular-webfont.woff);
}

h1{
    font-size: 22px;
    font-weight: bold;
    font-family: "roboto";
}

.nom{
    font-family: "Shrikhand";
    font-weight:normal;
}

.btn{
    font-size: 14px;
    font-family: "roboto";
}

h2{
    font-family: "roboto";
}


h3{
    font-size: 18px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "roboto";
    font-weight: bold;
}

p{
    font-size: 14px;
    font-family: "roboto";
}