.header {
  height: 50px;
  width: 100%;
  text-align: center;
}

.img__header {
  width: 50%;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #dddbdb;
  height: 350px;
}

.head__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 100%;
  background-color: #bebcbc;
  -webkit-box-shadow: 1.1 0.1 0.1;
          box-shadow: 1.1 0.1 0.1;
}

.head__form__search_line {
  background-color: #bebcbc;
  border: none;
}

.head__title {
  text-align: center;
}

.head__btn {
  background-color: #FF79DA;
  border-radius: 30px;
  width: 200px;
  text-align: center;
  color: white;
  -webkit-box-shadow: 0px 1px 3px 0px grey;
          box-shadow: 0px 1px 3px 0px grey;
}

.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.instructions__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instructions__block__list {
  border-radius: 30px;
  -webkit-box-shadow: 0px 1px 3px 0px grey;
          box-shadow: 0px 1px 3px 0px grey;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.instructions__block__list__number {
  background-color: #9356DC;
  border-radius: 30px;
  color: white;
  padding: 2px 8px 2px 8px;
}

.instructions__block__list__icon {
  color: grey;
  margin: 0px 10px;
}

.instructions__block__list__text {
  font-weight: bold;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #dddbdb;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1100px;
}

.block__article {
  background-color: white;
  border-radius: 30px;
  width: 95%;
  height: 250px;
  margin: 10px 0px;
}

.block__article__img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 30px 0px 0px;
}

.block__article__new {
  display: none;
}

.block__article__text {
  line-height: 6px;
  margin-left: 10px;
}

.footer {
  background-color: #3d3c3c;
  color: white;
  height: 300px;
}

.footer__img {
  width: 150px;
  padding: 20px 0px 0px 40px;
}

.list__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.list__choice__icon {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */