/*couleurs*/
/* Effet check */
.menu__article:hover .check {
  -webkit-animation: rotation 400ms ease-in-out;
          animation: rotation 400ms ease-in-out;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: translate(40px) rotate(0deg);
            transform: translate(40px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0px) rotate(360deg);
            transform: translate(0px) rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: translate(40px) rotate(0deg);
            transform: translate(40px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0px) rotate(360deg);
            transform: translate(0px) rotate(360deg);
  }
}

/* apparition menu */
.menu {
  opacity: 0;
  -webkit-animation: menu 1500ms forwards;
          animation: menu 1500ms forwards;
}

.menu--1 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.menu--2 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.menu--3 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

@-webkit-keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* effet article */
.dishes {
  opacity: 0;
  -webkit-animation: article 1500ms forwards;
          animation: article 1500ms forwards;
}

.dishes--1 {
  -webkit-animation-delay: 375ms;
          animation-delay: 375ms;
}

.dishes--2 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.dishes--3 {
  -webkit-animation-delay: 1125ms;
          animation-delay: 1125ms;
}

.dishes--4 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

@-webkit-keyframes article {
  0% {
    opacity: 0;
    -webkit-transform: translatey(30px);
            transform: translatey(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes article {
  0% {
    opacity: 0;
    -webkit-transform: translatey(30px);
            transform: translatey(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

/* loader */
.loader {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.loaderbox {
  margin: 100px auto 0;
  width: 400px;
  height: 100px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: card 15s infinite linear;
          animation: card 15s infinite linear;
}

.loaderbox:hover {
  animation: card 15s infinite reverse linear;
}

.loaderimage {
  position: absolute;
  padding: 10px;
  width: 100%;
  height: 100%;
  border: 5px solid;
  -webkit-animation: rotate 3s ease-in infinite;
          animation: rotate 3s ease-in infinite;
}

.image--1 {
  background-color: white;
  -webkit-transform: rotateX(0deg) translateZ(210px);
          transform: rotateX(0deg) translateZ(210px);
}

.image--2 {
  background-color: black;
  -webkit-transform: rotateY(90deg) translateZ(210px);
          transform: rotateY(90deg) translateZ(210px);
}

.image--3 {
  background-color: white;
  -webkit-transform: rotateX(180deg) translateZ(210px) rotate(180deg);
          transform: rotateX(180deg) translateZ(210px) rotate(180deg);
}

.image--4 {
  background-color: black;
  -webkit-transform: rotateY(-90deg) translateZ(210px);
          transform: rotateY(-90deg) translateZ(210px);
}

.image--2 > path {
  fill: white;
}

.image--4 > path {
  fill: white;
}

@-webkit-keyframes rotate {
  0% {
    border-image: linear-gradient(100deg, #9356DC, #FF79DA, #99E2D0) 1;
  }
  33% {
    border-image: linear-gradient(100deg, #99E2D0, #9356DC, #FF79DA) 1;
  }
  66% {
    border-image: linear-gradient(100deg, #FF79DA, #99E2D0, #9356DC) 1;
  }
  100% {
    border-image: linear-gradient(100deg, #9356DC, #FF79DA, #99E2D0) 1;
  }
}

@keyframes rotate {
  0% {
    -o-border-image: linear-gradient(100deg, #9356DC, #FF79DA, #99E2D0) 1;
       border-image: linear-gradient(100deg, #9356DC, #FF79DA, #99E2D0) 1;
  }
  33% {
    -o-border-image: linear-gradient(100deg, #99E2D0, #9356DC, #FF79DA) 1;
       border-image: linear-gradient(100deg, #99E2D0, #9356DC, #FF79DA) 1;
  }
  66% {
    -o-border-image: linear-gradient(100deg, #FF79DA, #99E2D0, #9356DC) 1;
       border-image: linear-gradient(100deg, #FF79DA, #99E2D0, #9356DC) 1;
  }
  100% {
    -o-border-image: linear-gradient(100deg, #9356DC, #FF79DA, #99E2D0) 1;
       border-image: linear-gradient(100deg, #9356DC, #FF79DA, #99E2D0) 1;
  }
}

@-webkit-keyframes card {
  0% {
    -webkit-transform: rotateY(0deg) rotateY(0deg);
            transform: rotateY(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateY(0deg);
            transform: rotateY(360deg) rotateY(0deg);
  }
}

@keyframes card {
  0% {
    -webkit-transform: rotateY(0deg) rotateY(0deg);
            transform: rotateY(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateY(0deg);
            transform: rotateY(360deg) rotateY(0deg);
  }
}

.header {
  height: 50px;
  width: 100%;
  text-align: center;
  position: relative;
}

.header__img {
  height: 65%;
  padding-top: 10px;
}

.header__return {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 70%;
  text-align: center;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: Shrikhand;
  src: url(Shrikhand-Regular.otf);
}

@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular-webfont.woff);
}

h1 {
  font-size: 22px;
  font-weight: bold;
  font-family: "roboto";
}

.nom {
  font-family: "Shrikhand";
  font-weight: normal;
}

.btn {
  font-size: 14px;
  font-family: "roboto";
}

h2 {
  font-family: "roboto";
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "roboto";
  font-weight: bold;
}

p {
  font-size: 14px;
  font-family: "roboto";
}

.top {
  height: 250px;
  width: 100%;
  background-color: #f5f4f4;
}

.top__img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.top__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f4f4;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  position: absolute;
  top: 210px;
}

.top__block__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 30px;
  padding-left: 15px;
}

@media (min-width: 1200px) {
  .top__block__title {
    width: 300px;
    margin: 0px auto;
    padding-left: 0px;
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    text-align: center;
  }
}

.top__block__icon {
  width: 50px;
  font-size: 20px;
  margin: 10px 0px;
  padding-top: 15px;
  padding-right: 20px;
}

.parent {
  background-color: #f5f4f4;
}

@media (min-width: 1200px) {
  .parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu {
  margin: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .menu {
    min-width: 380px;
    cursor: pointer;
    margin: 0px auto;
    padding: 0px 5px;
  }
}

.menu__border {
  width: 35px;
  border: 1px solid #99E2D0;
  margin-left: 0px;
}

.menu__article {
  -webkit-box-shadow: 0px 0px 10px 0px grey;
          box-shadow: 0px 0px 10px 0px grey;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 75px;
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.menu__article:hover > .menu__article__col3 {
  min-width: 60px;
}

.menu__article:hover > .check {
  visibility: visible;
}

.menu__article__col1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px 0px;
  margin: 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__article__col1 p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__article__col2 {
  min-width: 30px;
  text-align: center;
  font-weight: bold;
  padding: 38px 0px;
  margin-right: 10px;
}

.menu__article__col3 {
  width: 0px;
  min-width: 0px;
  border-radius: 0px 10px 10px 0px;
  padding: 15px 0px;
  background-color: #99E2D0;
  text-align: center;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.menu__article__col3__check {
  font-size: 20px;
  color: white;
  margin-top: 15px;
}

.menu2 {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .menu2 {
    margin-top: 0px;
  }
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 150px;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5f4f4;
  height: 300px;
  margin: 10px 0px;
}

.head__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 100%;
  background-color: #ecebeb;
  -webkit-box-shadow: 0px -1px 3px 1px grey;
          box-shadow: 0px -1px 3px 1px grey;
}

.head__form__location {
  padding: 11px 5px;
}

.head__form__search_line {
  background-color: #ecebeb;
  border: none;
  height: 40px;
  width: 150px;
}

.head__title {
  text-align: center;
}

.head__texte {
  text-align: center;
}

.btn {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 30px;
  -webkit-box-shadow: 0px 1px 3px 0px grey;
          box-shadow: 0px 1px 3px 0px grey;
  width: 200px;
  height: 50px;
  color: white;
  border: none;
  margin-bottom: 40px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  cursor: pointer;
}

.btn:hover {
  -webkit-box-shadow: 0px 1px 3px 2px grey;
          box-shadow: 0px 1px 3px 2px grey;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79d986), to(#9356DC));
  background: linear-gradient(to bottom right, #ff79d986, #9356DC);
}

.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0px;
  padding: 0px 20px;
}

.instructions__title {
  margin-left: -15px;
}

@media (min-width: 768px) {
  .instructions__title {
    margin: 0px auto;
  }
}

.instructions__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .instructions__block {
    width: 400px;
    margin: auto;
  }
}

.instructions__block__list {
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px grey;
          box-shadow: 0px 0px 10px 0px grey;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.instructions__block__list__number {
  background-color: #9356DC;
  border-radius: 20px;
  color: white;
  text-align: center;
  margin: -15px;
  padding: 7px 10px;
  font-size: 10px;
}

.instructions__block__list__icon {
  color: grey;
  margin: 0px 20px;
  padding-left: 15px;
}

.instructions__block__list__text {
  font-weight: bold;
}

.instructions__block__list:hover {
  background-color: #f2eafb;
}

.instructions__block__list:hover > .instructions__block__list__icon {
  color: #9356DC;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5f4f4;
  padding: 40px 0px;
}

.restaurant__title {
  margin-left: 10px;
}

@media (min-width: 768px) {
  .restaurant__title {
    margin: 0px auto;
  }
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.block__article {
  background-color: white;
  border-radius: 15px;
  width: calc(100% - 20px);
  height: 250px;
  margin: 10px 0px;
  -webkit-box-shadow: 0px 0px 2px 0px grey;
          box-shadow: 0px 0px 2px 0px grey;
  position: relative;
}

@media (min-width: 768px) {
  .block__article {
    width: calc(50% - 20px);
  }
}

.block__article__img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.block__article__new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #2e8161;
  border-radius: 5px;
  width: 80px;
  padding: 10px 10px;
  text-align: center;
}

.block__article__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 0px 20px;
}

.block__article__text__name {
  font-weight: bold;
  margin-bottom: 10px;
}

.block__article > a {
  text-decoration: none;
  color: black;
}

.divheart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 30px;
  height: 30px;
  border: 1px solid;
}

.divheart__vide {
  font-size: 30px;
  opacity: 1;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.divheart__vide:hover {
  opacity: 0;
}

.divheart__vide:hover > .divheart__vide__plein {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.divheart__plein {
  font-size: 30px;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: linear-gradient(to bottom, #FF79DA, #FF79DA 10%, #9356DC 90%);
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.footer {
  background-color: #3d3c3c;
  color: white;
  height: 200px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .footer__block {
    margin: 0px auto;
    padding: 0px;
    width: 300px;
    text-align: center;
  }
}

.footer__img {
  width: 100px;
  margin-left: 10px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .footer__img {
    margin-left: 0px;
  }
}

.footer__img > path {
  fill: white;
}

.list__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.list__choice__icon {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .list__choice {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0px;
  }
}

.list__choice > a {
  text-decoration: none;
  font-family: "roboto";
  color: white;
}
/*# sourceMappingURL=main.css.map */