.header {
  height: 50px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.img__header {
  width: 60%;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #dddbdb;
  height: 300px;
}

.head__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 100%;
  background-color: #bebcbc;
  -webkit-box-shadow: 0px -1px 3px 1px;
          box-shadow: 0px -1px 3px 1px;
}

.head__form__search_line {
  background-color: #bebcbc;
  border: none;
}

.head__title {
  text-align: center;
}

.head__texte {
  text-align: center;
}

.head__btn {
  background-color: #FF79DA;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  color: white;
  -webkit-box-shadow: 0px 1px 3px 0px grey;
          box-shadow: 0px 1px 3px 0px grey;
  margin-bottom: 40px;
}

.head__btn__text {
  text-align: center;
  margin-top: 15px;
}

.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0px;
}

.instructions__title {
  margin-left: 15px;
}

.instructions__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instructions__block__list {
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 3px 0px grey;
          box-shadow: 0px 1px 3px 0px grey;
  width: 80%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.instructions__block__list__number {
  background-color: #9356DC;
  border-radius: 30px;
  color: white;
  text-align: center;
  margin: -15px;
  width: 25px;
  height: 25px;
}

.instructions__block__list__icon {
  color: grey;
  margin: 0px 20px;
}

.instructions__block__list__text {
  font-weight: bold;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #dddbdb;
  margin: 40px 0px;
}

.restaurant__title {
  margin-left: 10px;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block__article {
  background-color: white;
  border-radius: 30px;
  width: 95%;
  height: 250px;
  margin: 10px 0px;
  position: relative;
}

.block__article__img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 30px 0px 0px;
}

.block__article__new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: green;
  border-radius: 5px;
  width: 80px;
  height: 25px;
  text-align: center;
}

.block__article__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 0px 20px;
}

.block__article__text__name {
  font-weight: bold;
  margin-bottom: 10px;
}

.block__article__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  background-color: #3d3c3c;
  color: white;
  height: 200px;
}

.footer__img {
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}

.list__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 30px;
  margin-left: 10px;
}

.list__choice__icon {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */